apiVersion: v1
kind: Endpoints
metadata:
  name: istiod
  namespace: istio-system
subsets:
  - addresses:
      - ip: ${ISTIOD_REMOTE_ADDRESS}
    ports:
      - name: tcp-istiod
        port: 15012
        protocol: TCP
      - name: tcp-webhook
        port: 15017
        protocol: TCP
